.back-button,.border-buttton,theme-button{
    font-size:13px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:2px;
    border:1px solid white;
    border-radius: 3px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.light-mode{
    background-color: #fff;
    color:black;
}

.dark-mode{
    background-color:#2b3945;
    color:white;
}